.Background{
    -fx-background-image: url("bgimage.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.BackgroundTab{
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 30%, #1f2429 60%, #191d22 20%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 15%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0.4;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,5,1,1;
    -fx-padding: 5 20 5 20;

}

.tab-pane .tab:selected
{
    -fx-background-color:
            greenyellow,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,5,1,1;
    -fx-padding: 5 20 5 20;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: greenyellow;
    -fx-font-size: 1.5em;
    -fx-font-family: Georgia;

}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: greenyellow;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}


.buttonBasic{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,0;
    -fx-font-size: 1.3em;
    -fx-padding: 5 20 5 20;
    -fx-cursor: hand;
    -fx-background-radius: 5,4,3,5;
}

.buttonBasic-Success,
.tab-label{
    -fx-effect: dropshadow( three-pass-box , greenyellow , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(greenyellow, lawngreen);
}


.buttonBasic-Update,
.buttonBasic-Show{
    -fx-effect: dropshadow( three-pass-box , aqua , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, aqua);
}

.buttonBasic-Error{
    -fx-effect: dropshadow( three-pass-box , darkred , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(orangered, red);
}

.buttonBasic-Other{
    -fx-effect: dropshadow( three-pass-box , darkgoldenrod , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(gold, goldenrod);
}


/* DatePicker */
.date-picker .arrow-button{
    -fx-border-width: 2px;
    -fx-border-color: greenyellow;
    -fx-background-color: #232323;
}

.date-picker .arrow-button .arrow{
    -fx-background-color: greenyellow;
}

/* Buttons (Split, Combo, Choice)*/
.split-menu-button,
.combo-box,
.choice-box{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-font-size: 1.5em;
    -fx-font-family: Georgia;
    -fx-cursor: hand;

}
.combo-box-base .text,
.choice-box-base .text{
    -fx-fill: greenyellow;
}
.combo-box .list-cell {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-cursor: hand;
}

.split-menu-button .arrow-button {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-text-fill: greenyellow;
    -fx-prompt-text-fill: olivedrab;
}

/* Labels & Text */
.label,
.text-LittleValue,
.UsernameLabel,
.PassLabel,
.errorInfo{
    -fx-font-family: Georgia;
}

.label-Tittle{
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.7, 0, 0.1);
    -fx-font-size: 2em;
    -fx-text-fill: linear-gradient(white, lawngreen);
}

.label-Little{
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.6, 0, 0.1);
    -fx-font-size: 1.3em;
    -fx-text-fill: greenyellow;
}

.label-LittleTitle{
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.7, 0, 0.1);
    -fx-font-size: 1.7em;
    -fx-text-fill: linear-gradient(white, lawngreen);
}

.label-LittleValue,
.text-LittleValue{
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.6, 0, 0.1);
    -fx-font-size: 1.3em;
}

.label-LittleValue{
    -fx-text-fill: white;
}

.text-LittleValue{
    -fx-fill: white;
}

.UsernameLabel,
.PassLabel{
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.3, 0, 0.1);
    -fx-font-size: 2em;
    -fx-text-fill: greenyellow;
}

.errorInfo{
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0.1);
    -fx-font-size: 1.5em;
    -fx-text-fill: red;
}


/* Text-fields */
.text-field{
    -fx-effect: dropshadow( three-pass-box, greenyellow , 20.0, 0.0, 0.0, 0.0);
    -fx-prompt-text-fill: olivedrab;
    -fx-text-fill: greenyellow;
    -fx-font-size: 1.3em;
    -fx-padding: 0.35em 1em 0.35em 1em;
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
}


/* Tables */
.table-view,
.list-view,
.text-area{
    -fx-background-color: whitesmoke;
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(#38424b, lawngreen);
}
.table-view:focused{
    -fx-background-color: white;
}

.table-view .column-header .label {
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.6, 0, 0.1);
    -fx-text-fill: linear-gradient(white, lawngreen);
    -fx-font-size: 1.1em;
    -fx-font-family: Georgia;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-border-width: 1px;
    -fx-border-color: #38424b;
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.table-row-cell:hover {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-text-background-color: lawngreen;
    -fx-cursor: hand;
}
.table-row-cell:selected {
    -fx-background-color: darkgreen;
}

.table-row-cell:selected .text{
    -fx-fill: white;
}





.specialBox{
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-border-width: 3px;
    -fx-border-color: #38424b;
}